<%= form_with(model: @micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  
  <div class="field">
    <%= f.select :visibility, 
        options_for_select([
          ['ðŸŒ Everyone', 'public'],
          ['ðŸ‘¥ Followers only', 'followers_only']
        ], 'public'),
        {},
        { class: 'form-control' } %>
  </div>
  
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
<% end %>

